*{
    font-family: monospace;
}
h1 span{
    color: cyan;
}
h1{
    background-color: black;
    color: white;
}
h2{
    background-color: rebeccapurple;
    color:white;
    font-style: italic;
    text-align: center;
}
h3{
    background-color: lightblue;
    color:black;
    text-decoration: underline;
    text-align: right;
}